In [1]:
import tweepy
import pandas as pd

In [2]:
df = pd.read_csv('tweets_message_tokyo.csv')

In [3]:
df['place'].dtypes

dtype('O')

In [4]:
print(df['place'][0])

Place(_api=<tweepy.api.API object at 0x2adc755cd880>, id='25e7ede60b304d89', url='https://api.twitter.com/1.1/geo/id/25e7ede60b304d89.json', place_type='city', name='Newport', full_name='Newport, KY', country_code='US', country='United States', contained_within=[], bounding_box=BoundingBox(_api=<tweepy.api.API object at 0x2adc755cd880>, type='Polygon', coordinates=[[[-84.504476, 39.064988], [-84.4611, 39.064988], [-84.4611, 39.1024267], [-84.504476, 39.1024267]]]), attributes={})

In [16]:
df['city'] = df['place'][0].split(",")[4] + df['place'][0].split(",")[5]
#df['']

In [27]:
df['place'][0].split("re.split('; |, |\*|")

["Place(_api=<tweepy.api.API object at 0x2adc755cd880>, id='25e7ede60b304d89', url='https://api.twitter.com/1.1/geo/id/25e7ede60b304d89.json', place_type='city', name='Newport', full_name='Newport, KY', country_code='US', country='United States', contained_within=[], bounding_box=BoundingBox(_api=<tweepy.api.API object at 0x2adc755cd880>, type='Polygon', coordinates=[[[-84.504476, 39.064988], [-84.4611, 39.064988], [-84.4611, 39.1024267], [-84.504476, 39.1024267]]]), attributes={})"]

In [25]:
df['place'][0].split("re.split('; |, |\*|")[4]

IndexError: list index out of range

In [18]:
df

,id,text,place,city
0,1419808468324790274,b'I hadn\xe2\x80\x99t seen you for awhile\xe2\...,Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
1,1419343586320019458,b'There\xe2\x80\x99s a bad joke here somewhere...,Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
2,1419372964823408640,b'The #Olympics seem to be starting out slowly...,Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
3,1425093660165738509,b'https://t.co/u0G6OPzAav',Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
4,1419343311375151107,b'@SpencerBoyd Olympics/Baseball',Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
...,...,...,...,...
120,1420089257306333195,b'the olympics are not real this year',Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
121,1419548999518982144,"b""@EddieWa57455763 Good Morning, Eddie \xf0\x9...",Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
122,1420550239434510336,b'Hup Ireland \xf0\x9f\x87\xae\xf0\x9f\x87\xaa...,Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
123,1417981211247583237,b'I guess they didn\xe2\x80\x99t know their pa...,Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport
124,1419347959393648640,b'@thekidmikeys usmnt young boys are impressin...,Place(_api=<tweepy.api.API object at 0x2adc755...,name='Newport' full_name='Newport