In [1]:
import tweepy
import pandas as pd
import ast
import warnings;
warnings.filterwarnings('ignore');

In [2]:
# read date
df = pd.read_csv('tweets_message_tokyo.csv', encoding = "utf-8")
df

,id,time,text,city_name,coordinates,place
0,1419808468324790274,2021-07-26 23:54:52+00:00,b'I hadn\xe2\x80\x99t seen you for awhile\xe2\...,"Newport, KY","[[[-84.504476, 39.064988], [-84.4611, 39.06498...",Place(_api=<tweepy.api.API object at 0x2b23538...
1,1419343586320019458,2021-07-25 17:07:35+00:00,b'There\xe2\x80\x99s a bad joke here somewhere...,"Inglewood, CA","[[[-118.378887, 33.9253169], [-118.3134177, 33...",Place(_api=<tweepy.api.API object at 0x2b23538...
2,1419372964823408640,2021-07-25 19:04:20+00:00,b'The #Olympics seem to be starting out slowly...,"Central City, KY","[[[-87.154448, 37.269115], [-87.0936138, 37.26...",Place(_api=<tweepy.api.API object at 0x2b23538...
3,1425093660165738509,2021-08-10 13:56:20+00:00,b'https://t.co/u0G6OPzAav',"Gainesville, VA","[[[-77.675429, 38.763188], [-77.579294, 38.763...",Place(_api=<tweepy.api.API object at 0x2b23538...
4,1419343311375151107,2021-07-25 17:06:30+00:00,b'@SpencerBoyd Olympics/Baseball',"Vicksburg, MI","[[[-85.583959, 42.089785], [-85.509529, 42.089...",Place(_api=<tweepy.api.API object at 0x2b23538...
...,...,...,...,...,...,...
63559,1424503920743780356,2021-08-08 22:52:55+00:00,b'Yes! https://t.co/VOMo71tqbd',"Davis, CA","[[[-121.803252, 38.526843], [-121.675074, 38.5...",Place(_api=<tweepy.api.API object at 0x2b23538...
63560,1424504989922299915,2021-08-08 22:57:10+00:00,b'https://t.co/ApG332Hp0Q',"Mehlville, MO","[[[-90.3557179, 38.477027], [-90.274797, 38.47...",Place(_api=<tweepy.api.API object at 0x2b23538...
63561,1421637224005869569,2021-08-01 01:01:41+00:00,b'\xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3\xf0\x9f\xa4...,"Florida, USA","[[[-87.634643, 24.396308], [-79.974307, 24.396...",Place(_api=<tweepy.api.API object at 0x2b23538...
63562,533007],[-90.3557179,38.533007]]]),"attributes={})""",NaN,NaN
63563,1421637224005869569,2021-08-01 01:01:41+00:00,b'\xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3\xf0\x9f\xa4...,"Florida, USA","[[[-87.634643, 24.396308], [-79.974307, 24.396...",Place(_api=<tweepy.api.API object at 0x2b1064d...

In [3]:
# drop rows which has at least one element to be Nan(drop 63562 here)
df = df.dropna()
df

,id,time,text,city_name,coordinates,place
0,1419808468324790274,2021-07-26 23:54:52+00:00,b'I hadn\xe2\x80\x99t seen you for awhile\xe2\...,"Newport, KY","[[[-84.504476, 39.064988], [-84.4611, 39.06498...",Place(_api=<tweepy.api.API object at 0x2b23538...
1,1419343586320019458,2021-07-25 17:07:35+00:00,b'There\xe2\x80\x99s a bad joke here somewhere...,"Inglewood, CA","[[[-118.378887, 33.9253169], [-118.3134177, 33...",Place(_api=<tweepy.api.API object at 0x2b23538...
2,1419372964823408640,2021-07-25 19:04:20+00:00,b'The #Olympics seem to be starting out slowly...,"Central City, KY","[[[-87.154448, 37.269115], [-87.0936138, 37.26...",Place(_api=<tweepy.api.API object at 0x2b23538...
3,1425093660165738509,2021-08-10 13:56:20+00:00,b'https://t.co/u0G6OPzAav',"Gainesville, VA","[[[-77.675429, 38.763188], [-77.579294, 38.763...",Place(_api=<tweepy.api.API object at 0x2b23538...
4,1419343311375151107,2021-07-25 17:06:30+00:00,b'@SpencerBoyd Olympics/Baseball',"Vicksburg, MI","[[[-85.583959, 42.089785], [-85.509529, 42.089...",Place(_api=<tweepy.api.API object at 0x2b23538...
...,...,...,...,...,...,...
63558,1424501549338873860,2021-08-08 22:43:29+00:00,b'Please do yourself a huge favor a tap in the...,"Spartanburg, SC","[[[-82.045319, 34.875556], [-81.8352774, 34.87...",Place(_api=<tweepy.api.API object at 0x2b23538...
63559,1424503920743780356,2021-08-08 22:52:55+00:00,b'Yes! https://t.co/VOMo71tqbd',"Davis, CA","[[[-121.803252, 38.526843], [-121.675074, 38.5...",Place(_api=<tweepy.api.API object at 0x2b23538...
63560,1424504989922299915,2021-08-08 22:57:10+00:00,b'https://t.co/ApG332Hp0Q',"Mehlville, MO","[[[-90.3557179, 38.477027], [-90.274797, 38.47...",Place(_api=<tweepy.api.API object at 0x2b23538...
63561,1421637224005869569,2021-08-01 01:01:41+00:00,b'\xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3\xf0\x9f\xa4...,"Florida, USA","[[[-87.634643, 24.396308], [-79.974307, 24.396...",Place(_api=<tweepy.api.API object at 0x2b23538...
63563,1421637224005869569,2021-08-01 01:01:41+00:00,b'\xf0\x9f\xa4\xa3\xf0\x9f\xa4\xa3\xf0\x9f\xa4...,"Florida, USA","[[[-87.634643, 24.396308], [-79.974307, 24.396...",Place(_api=<tweepy.api.API object at 0x2b1064d...

In [4]:
#convert text to utf8
df['text'] = df['text'].apply(lambda x: ast.literal_eval(x).decode('utf8'))
df

,id,time,text,city_name,coordinates,place
0,1419808468324790274,2021-07-26 23:54:52+00:00,I hadn’t seen you for awhile… I thought you we...,"Newport, KY","[[[-84.504476, 39.064988], [-84.4611, 39.06498...",Place(_api=<tweepy.api.API object at 0x2b23538...
1,1419343586320019458,2021-07-25 17:07:35+00:00,There’s a bad joke here somewhere https://t.co...,"Inglewood, CA","[[[-118.378887, 33.9253169], [-118.3134177, 33...",Place(_api=<tweepy.api.API object at 0x2b23538...
2,1419372964823408640,2021-07-25 19:04:20+00:00,The #Olympics seem to be starting out slowly f...,"Central City, KY","[[[-87.154448, 37.269115], [-87.0936138, 37.26...",Place(_api=<tweepy.api.API object at 0x2b23538...
3,1425093660165738509,2021-08-10 13:56:20+00:00,https://t.co/u0G6OPzAav,"Gainesville, VA","[[[-77.675429, 38.763188], [-77.579294, 38.763...",Place(_api=<tweepy.api.API object at 0x2b23538...
4,1419343311375151107,2021-07-25 17:06:30+00:00,@SpencerBoyd Olympics/Baseball,"Vicksburg, MI","[[[-85.583959, 42.089785], [-85.509529, 42.089...",Place(_api=<tweepy.api.API object at 0x2b23538...
...,...,...,...,...,...,...
63558,1424501549338873860,2021-08-08 22:43:29+00:00,Please do yourself a huge favor a tap in the G...,"Spartanburg, SC","[[[-82.045319, 34.875556], [-81.8352774, 34.87...",Place(_api=<tweepy.api.API object at 0x2b23538...
63559,1424503920743780356,2021-08-08 22:52:55+00:00,Yes! https://t.co/VOMo71tqbd,"Davis, CA","[[[-121.803252, 38.526843], [-121.675074, 38.5...",Place(_api=<tweepy.api.API object at 0x2b23538...
63560,1424504989922299915,2021-08-08 22:57:10+00:00,https://t.co/ApG332Hp0Q,"Mehlville, MO","[[[-90.3557179, 38.477027], [-90.274797, 38.47...",Place(_api=<tweepy.api.API object at 0x2b23538...
63561,1421637224005869569,2021-08-01 01:01:41+00:00,🤣🤣🤣 https://t.co/4JSLEKvfl5,"Florida, USA","[[[-87.634643, 24.396308], [-79.974307, 24.396...",Place(_api=<tweepy.api.API object at 0x2b23538...
63563,1421637224005869569,2021-08-01 01:01:41+00:00,🤣🤣🤣 https://t.co/4JSLEKvfl5,"Florida, USA","[[[-87.634643, 24.396308], [-79.974307, 24.396...",Place(_api=<tweepy.api.API object at 0x2b1064d...

In [5]:
#sort df based on time
df_sort = df.sort_values(by=['time'])
df_sort

,id,time,text,city_name,coordinates,place
53473,1417144527668850694,2021-07-19 15:29:19+00:00,This might be more entertaining than the regul...,"Queens, NY","[[[-73.962582, 40.541722], [-73.699793, 40.541...",Place(_api=<tweepy.api.API object at 0x2b23538...
54839,1417144724876496900,2021-07-19 15:30:06+00:00,"@hasaye2 @JoshEberley Sorry, he won the OLYMPICS","Seattle, WA","[[[-122.436232, 47.4953154], [-122.2249728, 47...",Place(_api=<tweepy.api.API object at 0x2b23538...
54955,1417145508057915399,2021-07-19 15:33:13+00:00,I never knew the people was getting down at Ol...,"Sacramento, CA","[[[-121.576613, 38.43792], [-121.362715, 38.43...",Place(_api=<tweepy.api.API object at 0x2b23538...
53573,1417145571568066571,2021-07-19 15:33:28+00:00,I don’t get how this bullshit is acceptable bu...,"Tulare, CA","[[[-119.384597, 36.150891], [-119.295915, 36.1...",Place(_api=<tweepy.api.API object at 0x2b23538...
15072,1417145961936297984,2021-07-19 15:35:01+00:00,Thanks for coming last night/traveling to the ...,Kansas City International Airport (MCI),"[[[-94.71622467041016, 39.29744311286238], [-9...",Place(_api=<tweepy.api.API object at 0x2b23538...
...,...,...,...,...,...,...
15436,1425451629973749765,2021-08-11 13:38:46+00:00,Join us today at noon CST &amp; invite communi...,"North Carolina, USA","[[[-84.3219475, 33.752879], [-75.40012, 33.752...",Place(_api=<tweepy.api.API object at 0x2b23538...
15771,1425452260776189952,2021-08-11 13:41:17+00:00,👏🏻👏🏻👏🏻 #TeamABC https://t.co/k36GtzLB71,"Manhattan, NY","[[[-74.026675, 40.683935], [-73.910408, 40.683...",Place(_api=<tweepy.api.API object at 0x2b23538...
53347,1425457069742723073,2021-08-11 14:00:23+00:00,😍😍😍😍 https://t.co/9t4WYL2ZQM,"Oatfield, OR","[[[-122.632833, 45.393618], [-122.571286, 45.3...",Place(_api=<tweepy.api.API object at 0x2b23538...
54119,1425461239740698627,2021-08-11 14:16:58+00:00,"State of Sports Media, 2021 https://t.co/fVEJt...","California, USA","[[[-124.482003, 32.528832], [-114.131212, 32.5...",Place(_api=<tweepy.api.API object at 0x2b23538...
50235,1425462405870592006,2021-08-11 14:21:36+00:00,Gotta love this. There are good people in the ...,"Delaware, USA","[[[-75.7887564, 38.4510398], [-74.984165, 38.4...",Place(_api=<tweepy.api.API object at 0x2b23538...

In [6]:
#save data in dictionary(including dates from '2021-7-19' to '2021-8-11')
date_range = pd.date_range(start='2021-07-19', end='2021-08-11')

df_dict = {}
for i in date_range:
    df_dict[i.strftime('%Y-%m-%d')] = df_sort[(df_sort['time'] >= i.strftime('%Y-%m-%d')) & (df_sort['time'] <= (i+pd.DateOffset(1)).strftime('%Y-%m-%d'))]
#take '2021-07-19' as example    
df_dict['2021-07-19']

,id,time,text,city_name,coordinates,place
53473,1417144527668850694,2021-07-19 15:29:19+00:00,This might be more entertaining than the regul...,"Queens, NY","[[[-73.962582, 40.541722], [-73.699793, 40.541...",Place(_api=<tweepy.api.API object at 0x2b23538...
54839,1417144724876496900,2021-07-19 15:30:06+00:00,"@hasaye2 @JoshEberley Sorry, he won the OLYMPICS","Seattle, WA","[[[-122.436232, 47.4953154], [-122.2249728, 47...",Place(_api=<tweepy.api.API object at 0x2b23538...
54955,1417145508057915399,2021-07-19 15:33:13+00:00,I never knew the people was getting down at Ol...,"Sacramento, CA","[[[-121.576613, 38.43792], [-121.362715, 38.43...",Place(_api=<tweepy.api.API object at 0x2b23538...
53573,1417145571568066571,2021-07-19 15:33:28+00:00,I don’t get how this bullshit is acceptable bu...,"Tulare, CA","[[[-119.384597, 36.150891], [-119.295915, 36.1...",Place(_api=<tweepy.api.API object at 0x2b23538...
15072,1417145961936297984,2021-07-19 15:35:01+00:00,Thanks for coming last night/traveling to the ...,Kansas City International Airport (MCI),"[[[-94.71622467041016, 39.29744311286238], [-9...",Place(_api=<tweepy.api.API object at 0x2b23538...
...,...,...,...,...,...,...
31028,1417270159505465347,2021-07-19 23:48:32+00:00,SOMETHING that is right in the world! #TeamTan...,"Anchorage, AK","[[[-150.0352589, 61.043884], [-149.48233, 61.0...",Place(_api=<tweepy.api.API object at 0x2b23538...
31017,1417270634112065536,2021-07-19 23:50:25+00:00,Yikes https://t.co/7p3gpMmsWt,"Houston, TX","[[[-95.823268, 29.522325], [-95.069705, 29.522...",Place(_api=<tweepy.api.API object at 0x2b23538...
31020,1417271867715461122,2021-07-19 23:55:19+00:00,Olympics should have been canceled . No brain...,"Sacramento, CA","[[[-121.576613, 38.43792], [-121.362715, 38.43...",Place(_api=<tweepy.api.API object at 0x2b23538...
31219,1417272310881562626,2021-07-19 23:57:05+00:00,oh my god are they just going to be cancelling...,"Manhattan, NY","[[[-74.026675, 40.683935], [-73.910408, 40.683...",Place(_api=<tweepy.api.API object at 0x2b23538...
28204,1417272732648198157,2021-07-19 23:58:45+00:00,@DrEricDing .@TheChefsGardens this. 👆 \n\ni ca...,"Towson, MD","[[[-76.667184, 39.371735], [-76.563177, 39.371...",Place(_api=<tweepy.api.API object at 0x2b23538...

In [7]:
## Save CSV files to folder
from pathlib import Path  
for i in date_range:
    date = i.strftime('%Y-%m-%d')
    filepath = Path('dataframes_by_date/'+date+".csv")
    filepath.parent.mkdir(parents=True, exist_ok=True)  
    df_dict[date].to_csv(filepath)

In [8]:
## Read CSV files back to dataframe dict
# from pathlib import Path  
# date_range = pd.date_range(start='2021-07-19', end='2021-08-11')

df_dict = {}
for i in date_range:
    date = i.strftime('%Y-%m-%d')
    filepath = Path('dataframes_by_date/'+date+".csv")
    df_dict[date] = pd.read_csv(filepath, encoding = "utf-8")

In [9]:
df_dict['2021-07-19']

,Unnamed: 0,id,time,text,city_name,coordinates,place
0,53473,1417144527668850694,2021-07-19 15:29:19+00:00,This might be more entertaining than the regul...,"Queens, NY","[[[-73.962582, 40.541722], [-73.699793, 40.541...",Place(_api=<tweepy.api.API object at 0x2b23538...
1,54839,1417144724876496900,2021-07-19 15:30:06+00:00,"@hasaye2 @JoshEberley Sorry, he won the OLYMPICS","Seattle, WA","[[[-122.436232, 47.4953154], [-122.2249728, 47...",Place(_api=<tweepy.api.API object at 0x2b23538...
2,54955,1417145508057915399,2021-07-19 15:33:13+00:00,I never knew the people was getting down at Ol...,"Sacramento, CA","[[[-121.576613, 38.43792], [-121.362715, 38.43...",Place(_api=<tweepy.api.API object at 0x2b23538...
3,53573,1417145571568066571,2021-07-19 15:33:28+00:00,I don’t get how this bullshit is acceptable bu...,"Tulare, CA","[[[-119.384597, 36.150891], [-119.295915, 36.1...",Place(_api=<tweepy.api.API object at 0x2b23538...
4,15072,1417145961936297984,2021-07-19 15:35:01+00:00,Thanks for coming last night/traveling to the ...,Kansas City International Airport (MCI),"[[[-94.71622467041016, 39.29744311286238], [-9...",Place(_api=<tweepy.api.API object at 0x2b23538...
...,...,...,...,...,...,...,...
386,31028,1417270159505465347,2021-07-19 23:48:32+00:00,SOMETHING that is right in the world! #TeamTan...,"Anchorage, AK","[[[-150.0352589, 61.043884], [-149.48233, 61.0...",Place(_api=<tweepy.api.API object at 0x2b23538...
387,31017,1417270634112065536,2021-07-19 23:50:25+00:00,Yikes https://t.co/7p3gpMmsWt,"Houston, TX","[[[-95.823268, 29.522325], [-95.069705, 29.522...",Place(_api=<tweepy.api.API object at 0x2b23538...
388,31020,1417271867715461122,2021-07-19 23:55:19+00:00,Olympics should have been canceled . No brain...,"Sacramento, CA","[[[-121.576613, 38.43792], [-121.362715, 38.43...",Place(_api=<tweepy.api.API object at 0x2b23538...
389,31219,1417272310881562626,2021-07-19 23:57:05+00:00,oh my god are they just going to be cancelling...,"Manhattan, NY","[[[-74.026675, 40.683935], [-73.910408, 40.683...",Place(_api=<tweepy.api.API object at 0x2b23538...
390,28204,1417272732648198157,2021-07-19 23:58:45+00:00,@DrEricDing .@TheChefsGardens this. 👆 \n\ni ca...,"Towson, MD","[[[-76.667184, 39.371735], [-76.563177, 39.371...",Place(_api=<tweepy.api.API object at 0x2b23538...